@{
    ViewData["Title"] = "SUSU Coffee - Liên hệ";
}

<!-- Header -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
         style="min-height: 400px">

        <h1 class="display-4 mb-3 text-white text-uppercase">Khách hàng</h1>

        <div class="d-inline-flex mb-lg-5">
        </div>

    </div>
</div>

<style>
    .contact-box i {
        font-size: 35px;
        margin-bottom: 15px;
        color: var(--primary);
    }
</style>

<!-- Contact -->
<div class="text-center my-5">
    <h1>Đây là trang của khách hàng
    </h1>
</div>
