@model List<string>

<h2>🗂 Danh sách nhiệm vụ</h2>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">@item</li>
    }
</ul>
<ul class="list-group">
    @foreach (var ticket in Model)
    {
        <li class="list-group-item">
            <i class="fa fa-life-ring text-danger mr-2"></i> @ticket
        </li>
    }
</ul>