@{
    ViewData["Title"] = "SUSU Coffee - Liên hệ";
}

<!-- Header -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5"
         style="min-height: 400px">
        <h1 class="display-4 mb-3 text-white text-uppercase">Dịch vụ</h1>
    </div>
</div>

<style>
    .contact-box i {
        font-size: 35px;
        margin-bottom: 15px;
        color: var(--primary);
    }
</style>

<div class="container-fluid pt-5">
    <div class="container">

        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Dịch vụ của chúng tôi</h4>
            <h1 class="display-4">Cà phê sạch & Nguyên chất</h1>
        </div>

        <div class="row">

            <!-- Dịch vụ 1 -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="img/service-1.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-truck service-icon"></i>Giao hàng nhanh chóng</h4>
                        <p class="m-0">
                            Giao cà phê tận nơi siêu tốc, đảm bảo nóng hổi và giữ nguyên hương vị đặc trưng.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Dịch vụ 2 -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="img/service-2.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-coffee service-icon"></i>Cà phê rang xay tươi mới</h4>
                        <p class="m-0">
                            Hạt cà phê được rang xay mỗi ngày, giữ trọn vị thơm và chất lượng tốt nhất.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Dịch vụ 3 -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="img/service-3.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-award service-icon"></i>Chất lượng hàng đầu</h4>
                        <p class="m-0">
                            Từ nguồn nguyên liệu đến quy trình pha chế đều được kiểm soát nghiêm ngặt.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Dịch vụ 4 -->
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="img/service-4.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-table service-icon"></i>Đặt bàn trực tuyến</h4>
                        <p class="m-0">
                            Đặt bàn nhanh chóng ngay trên website, chọn vị trí đẹp và không cần chờ đợi.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
