<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Koppee Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/sb-admin.css" />
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top" id="mainNav">
        <a class="navbar-brand font-weight-bold text-primary" asp-controller="Admin" asp-action="Index">☕ Koppee Admin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav bg-light" id="exampleAccordion">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Index">
                        <i class="fa fa-fw fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Products">
                        <i class="fa fa-fw fa-coffee"></i> Sản phẩm
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Orders">
                        <i class="fa fa-fw fa-shopping-cart"></i> Đơn hàng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Customers">
                        <i class="fa fa-fw fa-users"></i> Khách hàng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Reports">
                        <i class="fa fa-fw fa-bar-chart"></i> Báo cáo
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fa fa-fw fa-home"></i> Trang Koppee
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                        <i class="fa fa-fw fa-sign-out"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Nội dung trang con -->
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>

        <footer class="sticky-footer">
            <div class="container text-center">
                <small>© Koppee Coffee 2025</small>
            </div>
        </footer>
    </div>

    <!-- JS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
